:root {
    --primary: #fc3f3f;
    --secondary: #db4040;
    --dark:#14171f;
  }

.aboutus {
    height: fit-content;
    width: 100%;
    
}

.about_text{
    height: fit-content;
    width: 60%;
    /* background: red; */
    font-size: 26px;
    padding: 5rem;
    /* text-align: center; */
}

.about_title{
    font-weight: 700;
    font-size: 50px;
    color: var(--primary);
    padding-bottom: 1.5rem;
}

p {
    width: 80%;
    padding: 15px 0;
}

.contactbtn{
    font-size: 20px;
    width: 175px;
    margin: 20px 0;
}



.about_photo {
    height: 100vh;
    width: 40%;
    background: blue;
    background-image: url('../../assets/img/leonardalbert.jpg');
    background-size: cover;
    border-top-left-radius: 50%;
  
}

@media screen and (max-width: 768px) {
    .aboutus {
        display: block;
        
    }
    .about_photo {
        width: 100%;
        border-radius: 0;
        height: 40vh;
    }
    .about_text{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        text-align: center;
        width: 100%;
        padding: 2rem;
        font-size: 20px;
    }
    .about_desc {
        /* text-align: center; */
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}

