:root {
    --primary: #fc3f3f;
    --secondary: #db4040;
    --dark:#14171f;
  }


section.projects {
    height: fit-content;
    background-color: #FFFFFF;
}

.dots .active {
    background: var(--primary);
}

.page {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.projectcard {
    border-radius: 15px;
}