@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Work+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'work sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

h1 {
    color: #fc3f3f;
    font-size: 6rem;
}

h2 {
    font-size: 2rem;
}

h4 {
    font-size: 1.3rem;
}

a {
    color: #fc3f3f;
    font-size: 2rem;
}


