@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Work+Sans&display=swap');
:root {
    --primary: #fc3f3f;
    --secondary: #db4040;
    --dark:#14171f;
  }

  /* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: 0;
    scrollbar-color: #fc3f3f #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 0;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding: 68.54px;
    overflow-x: hidden;
}

body {
    height: 100vh;
    /* width: 100vw; */
    font-family: 'Work Sans', sans-serif;
    color: var(--dark);
}


.header {
    height: 68.54px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 2000;
    top: 0;
    left: 0;
    background-color: #14171f0e;
    backdrop-filter: blur(10px);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.logo, .links{
    margin: 0 68.16px;
}

.link {
    color: var(--dark);
    text-decoration: none;
    margin: 0 20px;
    font-size: 15.17px;
    font-weight: 500;
    transition: color .2s;
}

.link:hover{
    color: var(--primary);
}

.contactlink{
    color: var(--primary);
    font-weight: bold;
}

.nav-dots {
    position: fixed;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
    z-index: 1000;
    margin: 0;
    padding: 0;
    cursor: pointer;
  }
  
  .nav-dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    list-style: none;
    background: #FC3F3F;
    transition: all 0.3s;
  }
  .nav-dot:not(:last-of-type) {
    margin-bottom: 20px;
  }
  .nav-dot:hover, .nav-dot.is-active {
    transform: scale(2.8);
  }
  



img {
    /* background-color: red; */
    height: 68.54px;
}

/* hero */
.hero {
    height: 92vh;
    background: linear-gradient(90deg, rgb(255, 255, 255) 20.58%, rgba(255, 255, 255, 0.00) 77.17%), url('img/hero.jpg'), lightgray 50% / cover no-repeat;
    background-size: cover;
    background-position: 0 -150px;
    display: flex;
    align-items: center;
    position: relative;
    /* clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%); */
}

.custom-shape-divider-bottom-1688755788 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1688755788 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1688755788 .shape-fill {
    fill: #FFFFFF;
}

.primary {
    color: var(--primary);
}

.herodesc {
    display: flex;
width: 856px;
flex-direction: column;
flex-shrink: 0;
font-weight: 600;
font-size: 60px;
margin-left: 100px;
}

/* reasons */

.reasons {
    height: 433px;
    /* background-color: #F6F8F7; */
}

.reasonstext {
    height: 30%;
    display: grid;
    place-items: center;
    /* border-bottom: var(--dark) 1px solid;
     */
     /* box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px; */
}

.reasonstitle {
    font-weight: 700;
    font-size: 36px;
}

.reasonscards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70%;
}

.card {
    display: flex;
width: 292px;
padding: 20px 20px 40px 20px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 18px;
border-radius: 10px;
border: 1.4px solid #E0E3EB;
background: #FFF;

}

.cardtitle {
    color: #3D445C;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.carddesc {
    color: #858EAD;
/* Caption */
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.aboutus {
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: relative; */
}

.abouttext {
    width: 488px;
height: 523px;
border-radius: 10px;
background: var(--primary, rgb(252, 63, 63));
z-index: 2;
transform: rotateZ(5deg);

/* Shadow 1 */
box-shadow: 0px 8px 8px -4px rgba(17, 24, 39, 0.04), 0px 20px 24px -4px rgba(17, 24, 39, 0.10);
padding: 30px;
/* position: absolute;
left: 60%; */
}

.abouttitle {
    color: #FFF;

/* Heading/4 */
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 40px;
}

.aboutdesc {
    display: flex;
width: 388px;
flex-direction: column;
flex-shrink: 0;
color: #FFF;

/* Body/medium */
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.aboutphoto {
    width: 352px;
height: 469px;
flex-shrink: 0;
border-radius: 10px;
background: url('https://scontent.xx.fbcdn.net/v/t1.15752-9/357700378_670462214941189_3901830550556139292_n.jpg?stp=dst-jpg_s403x403&_nc_cat=111&ccb=1-7&_nc_sid=aee45a&_nc_ohc=Hk4EewYEaO0AX_QnZqh&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdQgtLsol1BPn_w_5GIPXgee1d9Wix7b9Jdayo43PvwpQg&oe=64CA40CD'), lightgray -159.882px -67.003px / 127.181% 114.349% no-repeat;
background-repeat: no-repeat;
background-size: cover;
transform: rotateZ(-15deg);
z-index: 1;


/* Shadow 1 */
box-shadow: 0px 8px 8px -4px rgba(17, 24, 39, 0.04), 0px 20px 24px -4px rgba(17, 24, 39, 0.10);
}

/* services */
.services {
height: 608px;
flex-shrink: 0;
background:#efefef;
position: relative;
}

.custom-shape-divider-top-1688756636 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1688756636 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 181px;
}

.custom-shape-divider-top-1688756636 .shape-fill {
    fill: #FFFFFF;
}

.custom-shape-divider-bottom-1688756292 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1688756292 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 70px;
}

.custom-shape-divider-bottom-1688756292 .shape-fill {
    fill: #FFFFFF;
}

.servicestext {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
}

.servicestitle {
    color: var(--neutral-800, #292E3D);
text-align: center;

/* Heading/4 */
font-size: 36px;
font-family: Work Sans;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.servicescards {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}

.servicecard{
    display: flex;
width: 271px;
height: 181px;
padding: 20px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 20px;
flex-shrink: 0;
border-radius: 10px;
background: #FFF;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
color: var(--primary);
text-align: center;
font-size: 20px;
font-family: Work Sans;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.servicecardinfo{
    color: var(--primary);
    overflow-y: scroll;
width: 380px;
height: 412px;
padding: 30px;
flex-shrink: 0;
border-radius: 10px;
background: #FFF;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
grid-row: span 2;
}

.cardinfotitle {
    font-size: 36px;
    margin-bottom: 10px;
    font-weight: bold;
}

.cardinfodesc {
    font-size: 20px;
    color: var(--dark);
}

.redcard {
    background: #FC3F3F;
    color: #FFF;
}

img.small{
    width: 40px;
    height: 40px;
}

/* stats */

.stats {
    height: 529.042px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.statcards {
    position: relative;
    height: 100%;
    width: 50%;
}

.statcard {
    position: relative;
    display: flex;
width: 284.885px;
height: 150px;
padding: 21.952px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 1.463px;
border-radius: 2.927px;
border: 0.732px solid #fff;
background: #FFF    ;
box-shadow: 0px 2.926928758621216px 4.390393257141113px -1.463464379310608px rgba(17, 24, 39, 0.05), 0px 8.780786514282227px 11.707715034484863px -2.926928758621216px rgba(17, 24, 39, 0.10);
}

.statcard1 {
    position: absolute;
    left: 50%;
    top: 10%;
    z-index: 1;

}
.statcard3  {
    position: absolute;
    left: 50%;
    bottom: 10%;
    z-index: 1;
}
.statcard2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.statcard2 .staticon {
    left: -15%;
    top: -25%;
}

.statnumber {
    display: flex;
width: 84.149px;
height: 47.563px;
/* flex-direction: column; */
align-items: center;
justify-content: space-between;
color: var(--neutral-800, #292E3D);
font-size: 52.685px;
font-family: Work Sans;
font-style: normal;
font-weight: 600;
line-height: normal; 
}

.stattext {
    width: 50%;
    display: grid;
    place-items: center;
    text-align: center;
}

.stattitle {
    display: flex;
width: 264.152px;
flex-direction: column;
flex-shrink: 0;
color: var(--neutral-500, #667299);
font-size: 22.562px;
font-family: Work Sans;
font-style: normal;
font-weight: 400;
line-height: normal;
border-left: #FC3F3F 5.122px solid;
padding-left: 15.122px;
margin-top: 7.837px;
}

.staticon {
    position: absolute;
    top: -30px;
    right: -30px;
}

.stattexttitle {
    display: flex;
width: 262.692px;
flex-direction: column;
flex-shrink: 0;
color: var(--primary, #FC3F3F);
font-size: 47.904px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.stattextdesc {
    display: flex;
width: 241.472px;
height: 54.148px;
flex-direction: column;
flex-shrink: 0;
color: var(--neutral-600, #525B7A);
font-size: 15.635px;
font-family: Work Sans;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 30px;
}
.contactbtn {
    display: flex;
width: 158.785px;
padding: 11.708px 14.635px;
justify-content: center;
align-items: center;
gap: 7.317px;
color: white;
text-decoration: none;
border-radius: 5.463px;
background: var(--primary, #FC3F3F);
margin-top: 60px;
}

/* projects */

.projects {
height: 753.442px;
flex-shrink: 0;
display: grid;
place-items: center;
background: #efefef;
position: relative;
}

.projectstext {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.projectstitle {
    color: var(--neutral-800, #292E3D);
font-family: Work Sans;
font-size: 36.342px;
font-style: normal;
font-weight: 700;
line-height: normal;
transform: translateY(100%);
}

.projectscards {
    display: grid;
    place-items: center;
    /* grid-template-columns: 1fr 1fr;
    gap: 50px; */
    height: 80%;
    width: 100%;
}
.pages {
    height: 70vh;
    display: grid;
    place-items: center;
}

.page {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    position: absolute;
    transition: all .5s ease;
}


.page[data-status="unknown"] {
    transform: scale(0);
    transition: none;
  }
  
  .page[data-status="active"] {
    transition-delay: 500ms;
  }
  
  .page[data-status="after"] {
    transform: translateX(-200%);
  }
  
  .page[data-status="before"] {
    transform: translateX(200%);
  }
  
  .page[data-status="becoming-active-from-after"] {
    transform: translateX(-200%);
    transition: none;
  }
  
  .page[data-status="becoming-active-from-before"] {
    transform: translateX(200%);
    transition: none;
  }
  

.projectcard {
    display: flex;
width: 280.985px;
height: 242px;
flex-direction: column;
align-items: flex-start;
border-radius: 7px;
background: #FFF;
overflow: hidden;
}

.projectbtns {
    display: flex;
width: 585.386px;
height: 10%;
justify-content: space-around;
align-items: center;
}

.arrowback, .arrownext {
    width: 19.025px;
height: 12.439px;
flex-shrink: 0;
}

.backbtn, .nextbtn {
    display: flex;
width: 215.861px;
height: 46.831px;
padding: 2.927px 14.635px;
border-radius: 10px;
justify-content: center;
align-items: center;
gap: 7.317px;
flex-shrink: 0;
background: var(--neutral-800, #292E3D);
border: #292E3D 1px solid;
color: white;
text-decoration: none;
transition: all .1s ease-in-out;
}

.backbtn:hover, .nextbtn:hover {
    background: white;
    color: #292E3D;
    cursor: pointer;
}

.backbtn:hover .arrowback, .nextbtn:hover .arrownext {
    fill: #292E3D;
}

.dots {
    display: flex;
align-items: center;
gap: 11.708px;
}

.dot {
    width: 11.708px;
height: 11.708px;
background-color: #292E3D;
border-radius: 50%;
transition: all .3s ease-in-out;
}

.active {
    background-color: white;
}
.custom-shape-divider-top-1688807631 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1688807631 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 152px;
}

.custom-shape-divider-top-1688807631 .shape-fill {
    fill: #FFFFFF;
}





.projectcard1 .projectcardimg {

    width: 100%;
align-self: stretch;
background-image: url('https://scontent.fprn7-1.fna.fbcdn.net/v/t39.30808-6/339906408_220506283903412_5383103098849081130_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=jF7MTZw-NBwAX8wYX2J&_nc_oc=AQn30ZnvE3yGkQDu0eWp_J7710IdsgBb2YW7M5Nd9kjzwz2a_DPBJ2HaJcIZl7Iy4fk&_nc_ht=scontent.fprn7-1.fna&oh=00_AfBeV_U2DTR0QDYTsB9U6QWBO_6JW7gz7nFo-i7jM2bXTg&oe=64AE3A69');
background-size: cover;
}



.projectcard2 .projectcardimg {

    width: 100%;
align-self: stretch;
background-image: url('https://scontent.fprn7-1.fna.fbcdn.net/v/t39.30808-6/321949577_814710729623973_5603871777729354317_n.jpg?stp=cp6_dst-jpg&_nc_cat=101&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=qWsvH7ods8QAX91NVO-&_nc_ht=scontent.fprn7-1.fna&oh=00_AfBRcyHdok-MP5xf7ws9uelT_iD4x1nEClzIedzA6KuaGw&oe=64ADC470');
background-size: cover;
}

.projectcard3 .projectcardimg {

    width: 100%;
align-self: stretch;
background-image: url('https://scontent.fprn7-1.fna.fbcdn.net/v/t39.30808-6/317604263_926276225419855_5642440663466665079_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=_alw8lfWehoAX84bsgM&_nc_ht=scontent.fprn7-1.fna&oh=00_AfC0Zwr7fnu68e2GJ-eRwTS6kcgdGFEYEqJ3HjcQhWh_rw&oe=64AEA6EA');
background-size: cover;
}

.projectcard4 .projectcardimg {

    width: 100%;
align-self: stretch;
background-image: url('https://scontent.fprn7-1.fna.fbcdn.net/v/t39.30808-6/311976501_891754092205402_5106060498549409866_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=zhxjiBiIn6UAX8NMntv&_nc_oc=AQntUP8OPmsLyod1vaVUIYf9YEBBVWZkj2I_9P96Q7ABOorKDHR-QMWQKuq3lTlGsWI&_nc_ht=scontent.fprn7-1.fna&oh=00_AfB5NgL4bH2BjMr6NpMt44u-Etf_WnDkNnh-F4kLMOseww&oe=64AD76C5');
background-size: cover;
}

.projectcard5 .projectcardimg {
    width: 100%;
align-self: stretch;
background: url('https://scontent.fprn7-1.fna.fbcdn.net/v/t39.30808-6/339421069_242423644827409_4142879991147279826_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=L3YFY2YeJ2YAX9Fqwd7&_nc_ht=scontent.fprn7-1.fna&oh=00_AfADF2HZPTZqXm5rFhJZ2YK_omSgz_z6zcI1KimbNuSWgQ&oe=64ADFE26');
background-size: cover;
}

.projectcard5 {
    width: 80%;
}

.projectcard6 .projectcardimg {
    width: 100%;
align-self: stretch;
background: url('https://scontent.fprn7-1.fna.fbcdn.net/v/t39.30808-6/295945420_833284421385703_7225567210077634679_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=5_ogWAi07mcAX-vWXuV&_nc_oc=AQlMW5DBVzNiCay_E96yI_XRnjUm5ywSapBZF9f_1KMFG-0Caw1_4gJ4y4I5okOnlmU&_nc_ht=scontent.fprn7-1.fna&oh=00_AfAfhuWjy3mFFASs6hpJebEWpOEGWFhX1806smyO3Du8KQ&oe=64AE5975');
background-size: cover;
}

.projectcard7 .projectcardimg {
    width: 100%;
align-self: stretch;
background: url('https://scontent.fprn7-1.fna.fbcdn.net/v/t39.30808-6/278192382_760373555343457_3984362892017540359_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=KiyKnnTRl7EAX_9n5v2&_nc_ht=scontent.fprn7-1.fna&oh=00_AfCSS9gn06LP7fYIWiz14lbE7jgQC1mJre7IFsGQW8KAmA&oe=64AF0221');
background-size: cover;
}

.projectcard8 .projectcardimg {
    width: 100%;
align-self: stretch;
background: url('https://scontent.fprn7-1.fna.fbcdn.net/v/t39.30808-6/278092147_759118582135621_4679955160541422594_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=HHvvK1f_7d8AX9PUacr&_nc_ht=scontent.fprn7-1.fna&oh=00_AfDM1KeFwoQSgG2yCdhJzRidLvjR29ci95aLA2SD2gwBow&oe=64ADFFCB');
background-size: cover;
}

.projectcard8 {
    width: 80%;
}

.projectcard9 .projectcardimg {
    width: 100%;
align-self: stretch;
background: url('https://scontent.fprn7-1.fna.fbcdn.net/v/t39.30808-6/275553908_740779530636193_4582744044916586467_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=ZhAiH7T3diQAX9cWAm-&_nc_ht=scontent.fprn7-1.fna&oh=00_AfDbE0F-B7UBY4ETBB_o_lwxFY5fNCMwTlyKb8jw9iygzQ&oe=64ADC290');
background-size: cover;
}

.projectcard10 .projectcardimg {
    width: 100%;
align-self: stretch;
background: url('https://scontent.fprn7-1.fna.fbcdn.net/v/t39.30808-6/268498328_689112942469519_4217483837276590555_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=FgK213l2CYsAX9kSedA&_nc_ht=scontent.fprn7-1.fna&oh=00_AfBMLLYJHdtWMIYli2RjdFfd7gJGDh7voXevrgT-ijVCRg&oe=64AEAB8A');
background-size: cover;
}

.projectcard11 .projectcardimg {
    width: 100%;
align-self: stretch;
background: url('https://scontent.fprn7-1.fna.fbcdn.net/v/t39.30808-6/262360996_676207880426692_3864100833117557603_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=PyMcrS_YxCkAX_fXq0v&_nc_ht=scontent.fprn7-1.fna&oh=00_AfBs4lhgepkmIlva0NSUXZ3aB_I6pd4OV6xKPbv4iKaYAA&oe=64AE24B7');
background-size: cover;
}

.projectcard12 .projectcardimg {
    width: 100%;
align-self: stretch;
background: url('https://scontent.fprn7-1.fna.fbcdn.net/v/t39.30808-6/247878208_653578496022964_2894285401782589986_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=b_SVHvBjHisAX8GfviN&_nc_ht=scontent.fprn7-1.fna&oh=00_AfC41gp7vUe0dMmWTv9Z-oxEoHrm8bHdsDGY3f8phHzmEA&oe=64AED602');
background-size: cover;
background-position: -50%;
}

.projectcard13 .projectcardimg {
    width: 100%;
align-self: stretch;
background: url('https://scontent.fprn7-1.fna.fbcdn.net/v/t39.30808-6/262360996_676207880426692_3864100833117557603_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=PyMcrS_YxCkAX_fXq0v&_nc_ht=scontent.fprn7-1.fna&oh=00_AfBs4lhgepkmIlva0NSUXZ3aB_I6pd4OV6xKPbv4iKaYAA&oe=64AE24B7');
background-size: cover;
}

.projectcard14 .projectcardimg {
    width: 100%;
align-self: stretch;
background: url('https://scontent.fprn7-1.fna.fbcdn.net/v/t1.6435-9/188285731_547294489984699_5005942960017362877_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=6bqWj67dCrsAX9_jN1k&_nc_ht=scontent.fprn7-1.fna&oh=00_AfBpOtnpQS9ObhhQzNfrXowyTci0nz6MU1Nw_TaTPral5g&oe=64D9CB4E');
background-size: cover;
}

.projectcard15 .projectcardimg {
    width: 100%;
align-self: stretch;
background: url('https://scontent.fprn7-1.fna.fbcdn.net/v/t1.6435-9/176530359_530619491652199_2896226653592751932_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=M4Vr7GABI58AX9jbv06&_nc_ht=scontent.fprn7-1.fna&oh=00_AfCFEQZTHvix2apAr4WYwjwFCa8lUTPFGKKzDPTXJ3Ynxw&oe=64D99871');
background-size: cover;
}

.projectcard16 .projectcardimg {
    width: 100%;
align-self: stretch;
background: url('https://scontent.fprn7-1.fna.fbcdn.net/v/t1.6435-9/173556752_524771362237012_2164925019775986824_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=c3JleoiFnc8AX_D-hsz&_nc_ht=scontent.fprn7-1.fna&oh=00_AfBwXmW8Tl-iu5wA0PmukAun9iVFMrJB-UByXBnd1hhb8g&oe=64D9BFAB');
background-size: cover;
}

.projectcard17 .projectcardimg {
    width: 100%;
align-self: stretch;
background: url('https://scontent.fprn7-1.fna.fbcdn.net/v/t1.6435-9/132892704_452518449462304_42377573269202561_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=5jBjA0TyF-sAX-asruB&_nc_ht=scontent.fprn7-1.fna&oh=00_AfCeNzypESlFvDOq9dMNNsZ5xIlZx0su5gbKE7uelge8vw&oe=64D9C38A');
background-size: cover;
}

.projectcard18 .projectcardimg {
    width: 100%;
align-self: stretch;
background: url('https://scontent.fprn7-1.fna.fbcdn.net/v/t1.6435-9/118213528_350607269653423_1010071364266233889_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=uO5jwX8_dhUAX-xkxip&_nc_ht=scontent.fprn7-1.fna&oh=00_AfAl2S4MeSQhZmaqirnhqUzClRUXFkxENvpCVSewqWMQ9w&oe=64D9BD43');
background-size: cover;
}

.projectcard19 .projectcardimg {
    width: 100%;
align-self: stretch;
background: url('https://scontent.fprn7-1.fna.fbcdn.net/v/t1.6435-9/107767240_320681775979306_7068644497013848810_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=Rbs1dEwkbTMAX-De4WQ&_nc_ht=scontent.fprn7-1.fna&oh=00_AfA6oPNDYz32JCp7d73GaZlDVSGLuFG3GayhUAeVVNyyhw&oe=64D9B344');
background-size: cover;
}

.projectcard20 .projectcardimg {
    width: 100%;
align-self: stretch;
background: url('https://scontent.fprn7-1.fna.fbcdn.net/v/t1.6435-9/70169186_120337706013715_6938255461774786560_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=889MZgw1_CAAX-qu6GH&_nc_ht=scontent.fprn7-1.fna&oh=00_AfDN14hKbgpYaMIwL62QCjxfxQl4Szkf8oAQ2q4gbVEuRA&oe=64D9A1E1');
background-size: cover;
background-position: 0 60%;
}

.projectcard21 .projectcardimg {
    width: 100%;
align-self: stretch;
background: url('');
background-size: cover;
}

.projectcard22 .projectcardimg {
    width: 100%;
align-self: stretch;
background: url('https://scontent.fprn7-1.fna.fbcdn.net/v/t1.6435-9/69835846_117938726253613_8252511700549369856_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=uNMpsaNNeBEAX_Kvrfc&_nc_ht=scontent.fprn7-1.fna&oh=00_AfBTWSPxguJdYzlv1UpBfniqLo4c73BGnr-N50ni9Pk5sQ&oe=64D99FC4');
background-size: cover;
}


.projectcard24 .projectcardimg {
    width: 100%;
align-self: stretch;
background: url('https://scontent.fprn7-1.fna.fbcdn.net/v/t39.30808-6/322801508_2955466881424596_1164430971259585269_n.jpg?stp=cp6_dst-jpg&_nc_cat=106&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=Q68G6Yj-lCEAX-3kA4g&_nc_ht=scontent.fprn7-1.fna&oh=00_AfAXBrm4fCFjYLYQTMQJ97_MSRG1y9CKUs5VTzLuWJpG-Q&oe=64B6A6FD');
background-position: center;
background-size: cover;
}


.projectcard23 {
    height: calc(242px * 2.1);
}



.projectcard {
    transition: all 300ms;
    cursor: pointer;
}

.projectcard:active {
    border-radius: 5px;
}


.projectcard:hover {
    transform: scale(1.05);
}

.projectcard:active .projectcard:hover {
    transform: scale(1);
}



.bottomleft:active {
    transform: scale(2.5);
    translate: -60% 40%;
}

.topright{
    border-bottom-left-radius: 20px;
}

.topleft{
    border-top-left-radius: 20px;
}

.bottomright{
    border-bottom-right-radius: 20px;
}

.bottomleft{
    border-top-right-radius: 20px;
}

.bottomright:active {
    transform: scale(2.5);
    translate: -60% -70%;
}

.topleft:active {
    transform: scale(2.5);
    translate: 60% 40%;
}

.topright:active {
    transform: scale(2.5);
    translate: 60% -70%;
}

.projectcardimg {
    height: 100% !important;
}

.halfwidth:active {
    transform: scale(2.5);
    translate: 68% 40%;
}

.halfwidth2:active {
    transform: scale(2.5);
    translate: -67% -70%;
}


.span2 {
    grid-row: span 2;
}

/* To hide the checkbox */
#checkboxInput {
    display: none;
    
  }
  
  .toggleSwitch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    width: 50px;
    height: 30px;
    background-color: #e6e6e6;
    border-radius: 20px;
    cursor: pointer;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 2000;
    -webkit-transition-duration: .2s;
            transition-duration: .2s;
            border: 1px rgb(201, 201, 201) solid;
  }
  
  .toggleSwitch::after {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    left: 5px;
    background-color: rgba(255, 192, 19, 0.514);
    border-radius: 50%;
    -webkit-transition-duration: .2s;
            transition-duration: .2s;
    -webkit-box-shadow: 5px 2px 7px rgba(8, 8, 8, 0.26);
            box-shadow: 5px 2px 7px rgba(8, 8, 8, 0.26);
    border: 5px solid rgb(255, 192, 19);
  }
  
  #checkboxInput:checked+.toggleSwitch::after {
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition-duration: .2s;
            transition-duration: .2s;
    background-color: #485367;
    border-color:#7a8392;
  }
  /* Switch background change */
  #checkboxInput:checked+.toggleSwitch {
    background-color: #202020;
    -webkit-transition-duration: .2s;
            transition-duration: .2s;
  }
  .custom-shape-divider-bottom-1689453058 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: 0;
}

.custom-shape-divider-bottom-1689453058 svg {
    position: relative;
    display: block;
    width: calc(132% + 1.3px);
    height: 183px;
}

.custom-shape-divider-bottom-1689453058 .shape-fill {
    fill: var(--primary);
}
  /* conatact */
  .contact {
    width: 100%;
    height: 692.455px;
flex-shrink: 0;
position: relative;
  }

  .custom-shape-divider-top-1689453440 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1689453440 svg {
    position: relative;
    display: block;
    width: calc(132% + 1.3px);
    height: 105px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1689453440 .shape-fill {
    fill: var(--primary);
}

.contacttext {
    width: 100%;
    height: 10%;
    display: grid;

    text-align: center;
    transform: translateY(170%);
}

.contacttitle {
    color: var(--neutral-800, #292E3D);
font-family: Work Sans;
font-size: 26.342px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.contactdesc {
    color: var(--neutral-800, #292E3D);
text-align: center;
font-family: Work Sans;
font-size: 18.635px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.contactform {
    height: 90%;
    display: grid;
    place-items: center;
    text-align: center;
}

.inputs {
    display: flex;
    margin-bottom: calc(433.185px - 204.885px * 2);
}

.nameinput input {
    display: flex;
width: 304.885px;
padding: 20.317px 5.854px;
align-items: center;
gap: 7.317px;
border-radius: 5px;
border: 0.732px solid var(--primary);
background: #FFF;
margin-right: calc(433.185px - 204.885px * 2);
border-top-left-radius: 10px;
}

.phone input {
    display: flex;
width: 304.885px;
padding: 20.317px 5.854px;
align-items: center;
gap: 7.317px;
border-radius: 5px;
border: 0.732px solid var(--primary);
background: #FFF;
border-top-right-radius: 10px;
font-family: 'work sans', sans-serif;
}

textarea {
    display: flex;
width: 633.185px;
height: 200px;
padding: 7.317px 5.854px;
align-items: flex-start;
gap: 7.317px;
flex-shrink: 0;
border-radius: 5px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
border: 0.732px solid var(--primary);
background: #FFF;
font-family: 'work sans', sans-serif;
}

.submit {
    display: flex;
    justify-content: center;
}

.submit button {
    margin-top: calc(433.185px - 204.885px * 2);
width: 198.299px;
padding: 15.708px 14.635px;
gap: 7.317px;
border-radius: 5px;
background: var(--primary, #FC3F3F);
border: none;
color: var(--neutral-white, #FFF);
text-align: center;
font-family: Work Sans;
font-size: 15.171px;
font-style: normal;
font-weight: 600;
line-height: normal;
font-family: 'work sans', sans-serif;
display: flex;
justify-content: center;
align-items: center;
transition: all 0.2s ease;
border: 1px solid var(--primary);
cursor: pointer;
}

.submit button:hover {
    background: white;
    color: var(--primary);
}

.submit button:hover i {
    color: var(--primary);
}

.submit button span {
    font-size: 17.171px;
    margin-right: 5px;
}

input:focus, textarea:focus {
    outline: none;
}

::-webkit-input-placeholder {
    color: var(--primary);
    font-family: Work Sans;
    font-size: 13.171px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

:-ms-input-placeholder {
    color: var(--primary);
    font-family: Work Sans;
    font-size: 13.171px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.custom-shape-divider-bottom-1689495249 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1689495249 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 82px;
}

.custom-shape-divider-bottom-1689495249 .shape-fill {
    fill: var(--primary);
}

i {
    color: white;
    margin-top: 1.5px;
}

/* footer */

.footer {
    display: flex;
height: 60.221px;
padding: 0px 711.046px 0px 81.954px;
align-items: center;
flex-shrink: 0;
background: var(--primary);
}

.footerinfo {
    color: #FFF;
font-family: Work Sans;
font-size: 18.708px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

/* dark mode */

.dark {
    background: #292E3D !important;
    color: white !important;
}
.dark-light {
    background: #485367 !important;
    color: white !important;
}
.dark-svg {
    fill: #292E3D !important;
}

.dark-text {
    color: #fff !important;
}

.dark-elem {
    background: #485367 !important;
    color: white !important;
}

.dark-elem2 {
    background: #292E3D !important;
    color: white !important;
}
